html {
  background-color: rgb(251, 243, 136);
}

body {
  font-family: "Iowan Old Style", "Iowan", "Charter", serif;

  background-color: rgb(6, 9, 39);
  color: rgb(255, 255, 255);

  padding: 7%;
  margin: 0;
  font-size: 18px;

  margin-bottom: 5%;
  
  cursor: default;
}

ul {
  padding-left: 0;
  list-style: none;
}

li {
  padding: 5px;
}


ul li::before {
  content: "\2022";
  color: rgb(251, 243, 136);
  display: inline-block;
  width: 1em;
}

img {
  width: 5em;
  height: 5em;
  border-radius: 50%;
  border: 2px solid rgb(251, 243, 136);
  background-color: rgb(251, 243, 136);
}

p {
  max-width: 600px;
}

a,
a:visited {
  color: rgb(251, 243, 136);

  text-decoration: none;
}
