html {
  background-color: rgb(0, 76, 228);
}

body {
    font-family: 'Iowan Old Style', 'Iowan', 'Charter', serif;

    background-color: rgb(245, 245, 245);
    color: black;

    padding: 5%;
    margin: 0;
    font-size: 1.3em;

    cursor: crosshair; // why not?
}

a, a:visited {
    color: rgb(0, 76, 228);

    text-decoration: none;
}

body.loaded {
  opacity: 1.0;
  -webkit-transition: opacity .3s ease-in-out;
  -moz-transition: opacity .3s ease-in-out;
  -ms-transition: opacity .3s ease-in-out;
  -o-transition: opacity .3s ease-in-out;
  transition: opacity .3s ease-in-out;
}

@media (prefers-color-scheme: dark) {
  html {
    background-color: rgb(251, 243, 136);
  }

  body {
    background-color: rgb(10, 10, 10);
    color: white;
  }

  a, a:visited {
      color: rgb(251, 243, 136);

      text-decoration: none;
  }
}
